Repository thenolja/desktop, pull requests merged in 2022-05, with the labels that each got.

#223 change the way data is retrieved
  backend/server.js
  frontend/src/pages/Reservation/Reservation.tsx
  frontend/src/utils/users.ts
Labels: refactoring

#224 Auth Store 변경 및 사용자 정보 요청 로직 추가
  frontend/src/app/app.tsx
  frontend/src/components/UserInfo/Profile.tsx
  frontend/src/components/UserInfo/User.type.ts
  frontend/src/components/UserInfo/UserInfoForm.tsx
  frontend/src/containers/Header/Header.tsx
  frontend/src/contexts/auth.ts
  frontend/src/pages/MyPage/MyPage.tsx
  frontend/src/utils/users.ts
Labels: auth, refactoring

#229 결제 페이지 수정
  frontend/src/components/Payment/Payment.style.ts
  frontend/src/components/Payment/PaymentForm.tsx
  frontend/src/components/Payment/SelectedRoom.tsx
  frontend/src/components/Payment/SelectedRoomItem.tsx
  frontend/src/pages/Reservation/Reservation.tsx
Labels: style, feat, refactoring
